<%= simple_form_for(@backlink) do |f| %>
  <% if @backlink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backlink.errors.count, "error") %> prohibited this backlink from being saved:</h2>

      <ul>
      <% @backlink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.input :project %>
   
  </div>
  <div class="field">
    <%= f.input :project_url %> 
  </div>
  <div class="field">
    <%= f.input :backlink_url %> 
  </div>
  <div class="field">
    <%= f.input :method %> 
  </div>
  <div class="field"> 
    <%= f.input :published_at, input_html: { class: 'ui-datepicker' } %>
  </div>
  <div class="field">
    <%= f.input :notes %> 
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>